<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <!-- <li><a href="/addcourse">Add course</a></li> -->
        <li><a href="/students">Students</a></li>
        <!-- <li><a href="/addstudent">Add student</a></li> -->
        <li><a href="/studentsbycourse">Students by course</a></li>
        <!-- <li><a href="/addcoursetostudent">Add course to student</a></li> -->
        <li><a href="/removeData">Remove Data</a></li>
    </ul>
</nav>